.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('../../../../assets/back2.png');
    background-size: contain;
    margin-left: 13%;
    padding-left: 20px;
}
  
.table-container {
  position: relative;
  min-height: 200px;
  width: 90%;
  max-height: 700px;
  overflow: auto;
  background-color: white;
  padding-top: 1s0px;
  padding-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.custom-table {
  font-size: 20px; /* Tamaño de fuente */
  position: relative;
}

table {
  width: 100%;
}


.custom-table mat-header-cell,
.custom-table mat-cell {
  padding: 5px; /* Espaciado interno de las celdas */
  font-size: 10px;
  color: white;
}

.custom-table mat-header-row {
  height: 30px; /* Altura de las filas de encabezado */
}

.custom-table mat-row {
  height: 25px; /* Altura de las filas de datos */
}

.export-container {
  text-align: right;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 20px;
}

.title {
    margin-top: 10px;
  font-size: 30px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: #0434a4;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}


.mat-form-field {
  width: 300px;
}

.mat-icon {
  color: #888888;
  cursor: pointer;
}

.input-container{
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  display: flex;
  margin-top: 6%;
}


.rounded-input {
  border-radius: 20px;
  width: 90%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.no-reservas-text {
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    opacity: 0.5;
    background-color: gray;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
    width: 90%;
  }