
<div class="main-container">
    <div class="rate-container">
        <h2 class="title">{{selectedReserva!.nombre}}</h2>
        <img class="logo" src="{{selectedReserva!.imagen}}" alt="iamgen instalacion">
        <app-app-rating [rating]="3"></app-app-rating>
    </div>
    <div class="content-container">
        <div class="reserva-container">
          <div class="calendar-cont">
            <h2 class="fechaLabel"> Selecciona una Fecha: </h2>
            <mat-card class="calendar-card">
              <mat-calendar [(selected)]="selected"></mat-calendar>
            </mat-card>
          </div>
          <div class="child-container">
            <h2 class="fechaLabel">Horas Disponibles</h2>
            <p style="text-align: center;">Fecha Seleccionada: {{selected}}</p>
            <div class="chip-container">
              <mat-chip-listbox aria-label="Horas" style="text-align: center;">
                <mat-chip-option *ngFor="let hour of hours" [selected]="hour.selected" (click)="toggleSelection(hour)">
                  <mat-icon>access_time</mat-icon>
                  {{ hour.label }}
                </mat-chip-option>
              </mat-chip-listbox>
            </div>
            <div class="btt-cont">
              <button mat-button color="primary" 
              style="background-color: #408dff; color: rgb(255, 255, 255); width: 40%; font-size: 15px;" 
              (click)="confirmReservation()"> Reserva </button>
            </div>
        </div>
      </div>
      
</div>  