.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../../assets/back5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: auto;
    flex-direction: column;
    flex: 1;
    margin-left: 15%;
}

.contents {
  display: flex;
  width: 90%;
  background-color: rgb(195, 188, 188, 0.8);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  flex: 1;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 10px;
}

.logo {
    margin-bottom: 10px;  
    width: 90%;
    height: 800px;
    border-radius: 10%;
    object-fit: cover;
  }

  .rate-container {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    flex: 1;
    border-radius: 10px;
    margin-right: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.title {
  color: rgb(255, 255, 255);
  background-color: #0434a4;
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  margin-top: 10px;
}


.reserva-container {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  flex: 1;
}

.calendar-cont {
  flex: 1;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.fechaLabel{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  background-color: #4f72be;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.child-container {
  flex: 1;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
}


.chip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-chip-option {
  flex: 1 0 120px;
  min-width: 120px;
  text-align: center;
  align-items: center;
}


.btt-cont{
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}


.rating-container {
  display: flex;
  align-items: center;
}

.star {
  cursor: pointer;
  font-size: 24px;
}

.rating-number {
  margin-left: 8px;
  font-size: 16px;
  font-weight: bold;
}

  
.disabled-date button {
  pointer-events: none;
  opacity: 0.5;
}
