<app-side-bar-admin></app-side-bar-admin>

<div class="main-container">
  <h2 class="titleAd"> Crear nuevo "Centro Deportivo" </h2>
  <div class="containers">
    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
      <label class="titleDips">Informacion Centro </label>
      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label><i class="material-icons">person</i> Nombre:</mat-label>
          <input type="text" id="nombre" name="nombre" matInput formControlName="nombre" required>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label><i class="material-icons">toggle_on</i>  Disponibilidad:</mat-label>
          <mat-select id="centro" name="centro" formControlName="disponibilidad" required>
            <mat-option value="opcion1">Habilitado</mat-option>
            <mat-option value="opcion2">Deshabilitado</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
     
      <label class="titleDips">Ubicacion (URL)</label>
      <mat-form-field appearance="outline">
        <mat-label><i class="material-icons">location_on</i> Ubicación:</mat-label>
        <input type="text" id="ubicacion" name="ubicacion" matInput formControlName="ubicacion" required>
      </mat-form-field>
      
      <button type="submit" class="form-submit-btn">Habilitar</button>
    </form>

  <div class="image-selector">
    <label class="titleDips">Selecciona una Imagen:</label>
    <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
      <div class="imagenDisp"><img [src]="url" *ngIf="url" [style.width.px]="300" [style.height.px]="300"></div>
      <p>
        <input type="file" (change)="selectFile($event)">
      </p>
    </div>
  </div>
</div>
