<app-side-bar-admin></app-side-bar-admin>

<div class="main-container">
  <h2 class="titleAd"> Crear nueva "Instalacion Deportiva" </h2>
  <div class="containers">
    <!-- Formulario para crear la instalación deportiva -->
    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
      <label class="titleDips">Informacion Instalacion:</label>
      <div class="name-deporte">

      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label><i class="material-icons">business</i> Centro deportivo:</mat-label>
          <mat-select id="centro" name="centro" formControlName="centro" required>
            <mat-option *ngFor="let opcion of centros" [value]="opcion.id_centro_deportivo">{{ opcion.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label><i class="material-icons">schedule</i> Intervalo de tiempo (Horas):</mat-label>
        <mat-select id="intervalo" name="intervalo" formControlName="intervalo" required>
          <mat-option value="1">0:30</mat-option>
          <mat-option value="2">1:00</mat-option>
          <mat-option value="3">1:30</mat-option>
          <mat-option value="4">2:00</mat-option>
        </mat-select>
      </mat-form-field>
      
      </div> 
      
      <div class="name-deporte">
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label><i class="material-icons">person</i> Nombre:</mat-label>
              <input type="text" id="nombre" name="nombre" matInput formControlName="nombre" required>
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label><i class="material-icons">sports_soccer</i> Deporte:</mat-label>
              <mat-select id="deporte" name="deporte" formControlName="deporte" required>
                <mat-option *ngFor="let opcion of deportes" [value]="opcion.id_deporte">
                  <div class="button-cont">
                    {{ opcion.nombre_deporte}}
                    <button mat-icon-button color="primary" (click)="editOption(opcion)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteOption(opcion)" >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
      </div>   
      <button type="button" style="margin-bottom: 15px;" class="form-submit-btn2" (click)="openModal()">
        Añadir Deporte
      </button>  
      <!-- Campos para seleccionar la disponibilidad de la instalación --> 
      <label class="titleDips">Disponibilidad:</label>
      <div style="flex-direction: row; display: flex; width: 100%; align-items: center; justify-content: space-evenly;">
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label><mat-icon>access_time</mat-icon> Hora de inicio (entre semana)</mat-label>
            <mat-select formControlName="weekdaysStartTime" placeholder="Seleccione una hora" required>
              <mat-option *ngFor="let hour of hoursMap" [value]="hour.value">{{ hour.label }}</mat-option>
            </mat-select>         
          </mat-form-field>
        </div>
      
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label><mat-icon>access_time</mat-icon> Hora de fin (entre semana)</mat-label>
            <mat-select placeholder="Seleccione una hora" formControlName="weekdaysEndTime" required>
              <mat-option *ngFor="let hour of hoursMap" [value]="hour.value">{{ hour.label }}</mat-option>
            </mat-select>     
          </mat-form-field>
        </div>
      </div>
      <div style="flex-direction: row; display: flex; width: 100%; align-items: center; justify-content: space-evenly;">
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label><mat-icon>access_time</mat-icon> Hora de inicio (fin de semana)</mat-label>
            <mat-select placeholder="Seleccione una hora" formControlName="weekendStartTime" required>
              <mat-option *ngFor="let hour of hoursMap" [value]="hour.value">{{ hour.label }}</mat-option>
            </mat-select>  
          </mat-form-field>
        </div>
        
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label><mat-icon>access_time</mat-icon> Hora de fin (fin de semana)</mat-label>
            <mat-select placeholder="Seleccione una hora" formControlName="weekendEndTime" required>
              <mat-option *ngFor="let hour of hoursMap" [value]="hour.value">{{ hour.label }}</mat-option>
            </mat-select> 
          </mat-form-field>
        </div>    
      </div>
      <button type="submit" class="form-submit-btn">Habilitar</button>
    </form>

  <div class="image-selector">
    <label class="titleDips">Selecciona una Imagen:</label>
    <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
      <div class="imagenDisp"><img [src]="iamgen" *ngIf="iamgen" [style.width.px]="300" [style.height.px]="300"></div>
      <p>
        <input type="file" (change)="selectFile($event)">
      </p>
    </div>
  </div>
</div>
