form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../../../assets/back2.png');
    background-size: contain;
    padding-top: 2%;
    margin-left: 15%;
  }
  
  .form-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .name-deporte {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }

  .child1 {
    grid-column: 1;
  }
  
  .child2 {
    grid-column: 2;
  }
  
  .form-title {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-field {
    color: white;
    margin-bottom: 20px;
  }
  
  .form-label {
    color: white;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .form-input,
  textarea {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-input:focus,
  textarea:focus {
    outline: none;
    border-color: #4d90fe;
    box-shadow: 0 0 5px #4d90fe;
  }
  
  .form-submit-btn {
    display: block;
    width: 15%;
    padding: 10px;
    background-color: #4d90fe;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .form-submit-btn:hover {
    background-color: #357ae8;
  }

  .contain-hold {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
