.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../../../assets/back.png');
    background-size: contain;
    padding-top: 2%;
    margin-left: 15%;
    flex-direction: row;
  }
  
  form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-right: 100px;
    height: 80%;
    align-items: center;
    justify-content: center;
  }

  .name-deporte {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }

  .child1 {
    grid-column: 1;
  }
  
  .child2 {
    grid-column: 2;
  }
  
  .form-title {
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-field {
    color: black;
    margin-bottom: 20px;
  }
  
  .form-label {
    color: black;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .form-input,
  textarea {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  
  .form-submit-btn {
    width: 15%;
    padding: 10px;
    background-color: #4d90fe;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .form-submit-btn:hover {
    background-color: #357ae8;
  }

  .contain-hold {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.image-selector{
  background-color: white;
  border-radius: 10px;
  height: 60%;
  width: 40%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}