<app-side-bar-admin></app-side-bar-admin>
<div class="main-container">
  <div class="containers">
    <form [formGroup]="form" (ngSubmit)="submit()" class="form-container">
      <label class="titleDips">Informacion Alerta:</label>
      <div class="form-field">
        <mat-form-field appearance="outline" style="width: 90%;">
          <mat-label><mat-icon>title</mat-icon> Título:</mat-label>
          <input type="text" id="titulo" name="titulo" matInput formControlName="titulo" required>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="outline" style="width: 90%;">
          <mat-label><mat-icon>badge</mat-icon> Número de Nómina:</mat-label>
          <input type="text" id="numeroNom" name="numeroNom" matInput formControlName="numeroNom" required>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="outline" style="width: 90%;">
          <mat-label><mat-icon>event</mat-icon> Fecha:</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>      
      <div class="form-field">
        <mat-form-field appearance="outline" style="width: 90%;">
          <mat-label><mat-icon>description</mat-icon> Descripción:</mat-label>
          <input type="text" id="descripcion" name="descripcion" matInput formControlName="descripcion" required>
        </mat-form-field>
      </div>
      <button type="submit" class="form-submit-btn">Agregar</button>
    </form>
    
    
    
    <div class="image-selector">
      <label class="titleDips">Selecciona una Imagen:</label>
      <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
        <div class="imagenDisp"><img [src]="url" *ngIf="url" [style.width.px]="300" [style.height.px]="300"></div>
        <p>
          <input type="file" (change)="selectFile($event)">
        </p>
      </div>
  </div>
</div>
  