.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../../assets/back2.png');
  background-size: contain;
  flex-direction: row;
}

form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-right: 100px;
  height: 80%;
  width: 40%;
  align-items: center;
  justify-content: center;
}
  
  .form-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .form-input,
  textarea {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-input:focus,
  textarea:focus {
    outline: none;
    border-color: #4d90fe;
    box-shadow: 0 0 5px #4d90fe;
  }
  
  .form-submit-btn {
    width: 20%;
    padding: 10px;
    background-color: #4d90fe;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .form-submit-btn:hover {
    background-color: #357ae8;
  }

  .image-selector{
    background-color: white;
    border-radius: 10px;
    height: 60%;
    width: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }