.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    flex: 1;
    background-image: url('../../../../assets/back2.png');
    background-size: contain;
    margin-left: 13%;
    padding-left: 20px;
}
  
.table-container {
  width: 90%;
  margin-top: 1rem;
  overflow-y: auto;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.custom-table {
  font-size: 20px; /* Tamaño de fuente */
  width: 90%; /* Ancho de la tabla */
}

.custom-table mat-header-cell,
.custom-table mat-cell {
  padding: 5px; /* Espaciado interno de las celdas */
  font-size: 10px;
}

.custom-table mat-header-row {
  height: 30px; /* Altura de las filas de encabezado */
}

.custom-table mat-row {
  height: 25px; /* Altura de las filas de datos */
}

.export-container {
  text-align: right;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 20px;
}

.title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  background-color: #f1f1f1;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.contents {
  display: flex;
  width: 90%;
  background-color: rgb(195, 188, 188, 0.8);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  margin-bottom: 10px;
}

.aforo-container {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-inline: 20px;
  width: 100%;
  padding-bottom: 10px;
}

form {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-inline: 20px;
  width: 100%;
}

.mat-form-field {
  width: 300px;
}

.mat-icon {
  color: #888888;
  cursor: pointer;
}

.input-container{
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  display: flex;
  margin-top: 6%;
}

.valid-form .mat-form-field-outline {
  border-color: green;
}

.valid-form .mat-input-element {
  background-color: lightgreen;
}

.rounded-input {
  border-radius: 20px;
  width: 90%;
  align-items: center;
  justify-content: center;
  display: flex;
}