.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200vh;
    background-image: url('../../../../assets/back2.png');
    background-size: contain;
    margin-left: 15%;
    padding-top: 1%;
}
  
.table-container {
  width: 80%;
  margin-top: 1rem;
  overflow-y: auto;
  background-color: aqua;
}


.export-container {
  text-align: right;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 85%;
}

.title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  color: white;
}

table {
  width: 100%;
}

th.mat-header-cell,
td.mat-cell {
  text-align: center;
}
