<app-side-bar-admin></app-side-bar-admin>
<div class="main-container">
    <h2 class="title"> Wellness Center Gimnasio </h2>
    <div class="contents">
      <div class="aforo-container">
        <label class="titleContents"> Aforo del gimansio</label>
        <app-spinner-aforo></app-spinner-aforo>
      </div>
      <!-- Formulario para cambiar el aforo del gimnasio -->
      <form [formGroup]="form" (ngSubmit)="guardarCambios()" class="form">
        <label class="titleContents"> Cambiar aforo del gimnasio </label>
        <div class="input-container">
          <mat-form-field appearance="outline">
            <mat-label>Aforo Máximo</mat-label>
            <input matInput type="number" formControlName="aforoMax">
            <mat-icon matSuffix>person_add_alt_1</mat-icon>
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>Aforo Actual</mat-label>
            <input matInput type="number" formControlName="aforoActual">
            <mat-icon matSuffix>people_alt</mat-icon>
          </mat-form-field>
      
          <button mat-raised-button color="primary" style="background-color: #4f72be; color: rgb(255, 255, 255);">
            Guardar Cambios
          </button>
        </div>
      </form>
      
    </div>  
</div>
