<app-sidebar-register></app-sidebar-register>
<div class="main-container">
    <h2 class="title"> Vista de Registro Modulo </h2>
    <div class="contents">
      <div class="aforo-container">
        <label class="title"> Aforo del Gimansio</label>
        <app-spinner-aforo></app-spinner-aforo>
      </div>
      <form [formGroup]="form" (ngSubmit)="guardarCambios()" class="form">
        <label class="title"> Cambiar Aforo del Gimansio</label>
        <div class="input-container">
          <mat-form-field appearance="outline">
            <mat-label>Aforo Máximo</mat-label>
            <input matInput type="number" formControlName="aforoMax">
            <mat-icon matSuffix>person_add_alt_1</mat-icon>
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>Aforo Actual</mat-label>
            <input matInput type="number" formControlName="aforoActual">
            <mat-icon matSuffix>people_alt</mat-icon>
          </mat-form-field>
      
          <button mat-raised-button color="primary" style="background-color: #408dff; color: rgb(255, 255, 255);">
            Guardar Cambios
          </button>
        </div>
      </form>
      
    </div> 
    <div class="table-container">
      <div class="export-container">
        <mat-form-field appearance="outline">
          <mat-label>Selecciona una fecha</mat-label>
          <input matInput [matDatepicker]="picker" (dateChange)="filterButtons($event.value)">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button color="primary" 
        style="background-color: #408dff; color: rgb(255, 255, 255); margin-left: 20px;"
        (click)="exportTable()">Export Material Table</button>
      </div>
        <table mat-table id="MaterialTable" [dataSource]="filteredDataSource" class="custom-table">
            <ng-container matColumnDef="id_registro">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.id_registro}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="matricula">
              <th mat-header-cell *matHeaderCellDef> Matricula </th>
              <td mat-cell *matCellDef="let element"> {{element.matricula}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef> Fecha de Ingreso </th>
              <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>  
      </div>        
</div>
