<mat-sidenav-container #sidenav class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
          <mat-icon>account_circle</mat-icon> Dashboard
        </a>
        <a mat-list-item routerLink="/aforo" routerLinkActive="active">
          <mat-icon>book</mat-icon> Nueva Aforo
        </a>
        <a mat-list-item routerLink="/alertas" routerLinkActive="active">
          <mat-icon>home</mat-icon> Alertas
        </a>
        <a mat-list-item routerLink="/newReservas" routerLinkActive="active">
            <mat-icon>home</mat-icon> Reservaciones
        </a>
        <a mat-list-item routerLink="/" routerLinkActive="active">
            <mat-icon>home</mat-icon> Logout
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  