

@media (max-width: 600px) {
  mat-sidenav {
    width: 100%;
  }
}
.sidenav-container {
  height: 100%;
  position: fixed;
}

.sidenav {
  width: 230px;
  background-color: #2196f3;
  opacity: 0.85;
}
