<app-side-bar-admin></app-side-bar-admin>
<div class="main-container">
  <!-- Contenedor de instalaciones -->
    <h2 class="titleCen"> {{currentInstalacion.nombre}} </h2>
    <ng-container *ngIf="instalaciones?.length; else noReservas">
    <div class="container">
      <div class="cards">
        <mat-card *ngFor="let button of instalaciones" [ngClass]="{'gray-card': button.esta_habilitada === false}">
          <mat-card-header>
            <mat-icon mat-card-avatar>fitness_center</mat-icon>
            <mat-card-title>{{ button.nombre }}</mat-card-title>
            <div class="switch-container">
              <mat-slide-toggle [checked]="button.esta_habilitada" (change)="toggleChanged(button)"></mat-slide-toggle>
            </div>
          </mat-card-header>
            <img mat-card-image class="card-image" [src]="button.imagen" alt="Photo of a Shiba Inu">
            <!-- Acciones de la tarjeta -->
            <mat-card-actions style="text-align: center; align-items: center; display: flex; justify-content: center;">
              <mat-button-toggle-group name="buttonGroup">
                <mat-button-toggle (click)="onReservationClick(button)" [ngStyle]="{ 'background-color': '#408dff', 'color': 'white' }" class="button-toggle-custom">
                  <mat-icon style="color: white">remove_red_eye</mat-icon>
                  Ver
                </mat-button-toggle>
                
                <mat-button-toggle (click)="onEdit(button)" [ngStyle]="{ 'background-color': '#408dff', 'color': 'white' }" class="button-toggle-custom">
                  <mat-icon style="color: white">edit</mat-icon>
                  Editar
                </mat-button-toggle>
                
                <mat-button-toggle (click)="onEliminar(button)" [ngStyle]="{ 'background-color': '#408dff', 'color': 'white' }" class="button-toggle-custom">
                  <mat-icon style="color: white">delete</mat-icon>
                  Eliminar
                </mat-button-toggle>
              </mat-button-toggle-group>                   
            </mat-card-actions>
        </mat-card>
      </div>
    </div>
    </ng-container>
    <ng-template #noReservas>
      <div class="no-reservas-text"> No existen "Instalaciones Deportivas </div>
    </ng-template>  
</div>