<app-side-bar-admin></app-side-bar-admin>
<div class="main-container">
    <h2 class="titleCen"> {{currentInstalacion.nombre}} </h2>
    <ng-container *ngIf="instalaciones?.length; else noReservas">
    <div class="container">
      <div class="cards">
        <mat-card *ngFor="let button of instalaciones" [ngClass]="{'gray-card': button.esta_habilitada === false}">
          <mat-card-header>
            <mat-icon mat-card-avatar>fitness_center</mat-icon>
            <mat-card-title>{{ button.nombre }}</mat-card-title>
            <div class="switch-container">
              <mat-slide-toggle [checked]="button.esta_habilitada" (change)="toggleChanged(button)"></mat-slide-toggle>
            </div>
          </mat-card-header>
            <img mat-card-image class="card-image" [src]="button.imagen" alt="Photo of a Shiba Inu">
            <mat-card-actions style="justify-content: space-between;">
              <button mat-button color="primary" style="background-color: #408dff; color: rgb(255, 255, 255);"
                class="mat-elevation-z4" (click)="onReservationClick(button)">
                <mat-icon style="color: white;">remove_red_eye</mat-icon>Ver Estadisticas
              </button>
              <button mat-button color="primary" style="background-color: #408dff; color: rgb(255, 255, 255);"
                class="mat-elevation-z4" (click)="onReservationClick(button)">
                <mat-icon style="color: white;">edit</mat-icon>Editar Instalacion
              </button>
            </mat-card-actions> 
        </mat-card>
      </div>
    </div>
    </ng-container>
    <ng-template #noReservas>
      <div class="no-reservas-text"> No existen "Instalaciones Deportivas </div>
    </ng-template>  
</div>