<form [formGroup]="form" (ngSubmit)="submit()" class="form-container">
    <h2 class="form-title">Editar Aviso</h2>
    <div class="form-field">
      <label for="titulo" class="form-label">Título:</label>
      <input type="text" id="titulo" formControlName="titulo" class="form-input" placeholder="{{currNot!.title}}" required>
    </div>
    <div class="form-field">
      <label for="asunto" class="form-label">Asunto:</label>
      <input type="text" id="asunto" formControlName="asunto" class="form-input" placeholder="{{currNot!.asunto}}" required>
    </div>
    <div class="form-field">
      <label for="fecha" class="form-label">Fecha:</label>
      <input type="text" id="fecha" formControlName="fecha" class="form-input" placeholder="{{currNot!.date}}" required>
    </div>
    <div class="form-field">
      <label for="descripcion" class="form-label">Descripción:</label>
      <textarea id="descripcion" formControlName="descripcion" class="form-input" placeholder="{{currNot!.descripcion}}" required></textarea>
    </div>
    <button type="submit" class="form-submit-btn">Enviar</button>
  </form>
  