<!-- login.component.html -->
<div class="login-container">
  <div class="content-container">
    <img class="logo" src="../../assets/logo.png" alt="Logo">
    <div style="flex-direction: column; width: 80%;">
      <form [formGroup]="form" (ngSubmit)="submit()">
      <div style="flex-direction: column; justify-content: center; align-items: center; display: flex;">
          <input placeholder="Matricula" type="email" formControlName="username">
          <br>
          <div *ngIf="alertStatusP === true" class="alert alert-warning">Enviando datos...</div>
          <div *ngIf="alertStatusS === true" class="alert alert-success">¡Inicio de sesión exitoso!</div>
          <div *ngIf="alertStatusE === true" class="alert alert-danger">El inicio de sesión ha fallado.</div>
      </div>
      <div style='margin-top: 20px; align-items: center; justify-content: center'>
        <button mat-button color="primary" style="background-color: #408dff; color: rgb(255, 255, 255);" class="mat-elevation-z4"> Iniciar </button>
      </div>
      </form>
    </div>
  </div>
