<!-- login.component.html -->
<div class="login-container">
  <div class="content-container">
    <div style="flex-direction: row; width: 80%;">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <img class="logo" src="../../assets/logoRec.png" alt="Logo">
        <div class="form-field">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label><i class="material-icons">person</i> Nombre:</mat-label>
            <input type="text" id="nombre" name="nombre" matInput formControlName="username" required>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label><i class="material-icons">lock</i> Contraseña:</mat-label>
            <input type="{{ showPassword ? 'text' : 'password' }}" id="password" name="password" matInput formControlName="password" required>
            <mat-icon matSuffix (click)="togglePasswordVisibility()">
              {{ showPassword ? 'visibility' : 'visibility_off' }}
            </mat-icon>
          </mat-form-field>
          
        </div>  
        <button mat-button color="primary" style="background-color: #408dff; color: rgb(255, 255, 255);" class="mat-elevation-z4"> Iniciar </button>
      </form>
    </div>
  </div>
