<app-sidebar></app-sidebar>
<div class="main-container">
  <div class="contents">
    <div class="aforo-container">
      <label class="title"> Aforo del Gimnasio</label>
      <app-spinner-aforo></app-spinner-aforo>
    </div>
    <!-- Contenido para buscar deportes -->
  <div class="stats-container">
    <label class="title"> Buscar Deportes </label>
      <div class="input-boton">
      <mat-form-field appearance="outline" class="rounded-input">
        <mat-label>Escribe un Deporte</mat-label>
          <input matInput type="text" placeholder="Ingresa tu nombre" [(ngModel)]="searchQuery" (keyup)="filterButtons()">
          <button matSuffix mat-button><mat-icon >search</mat-icon></button>
      </mat-form-field>
      </div>
  </div>  
  </div> 
  <label class="titleDown"> Centros Deportivos </label>
  <!-- Contenido si hay deportes filtrados -->
  <ng-container *ngIf="deportesFiltrados?.length; else noReservas">
    <!-- Contenedor de los centros deportivos -->
  <div class="centros-container" *ngFor="let centro of deportesFiltrados">
    <label class="titleCen">{{ centro.nombre }} <a mat-button color="#81c9fa" (click)="redirectToGoogleMaps(centro)">
      <mat-icon>place</mat-icon> Ubicación
    </a></label>
    <!-- Contenido si hay deportes en el centro deportivo -->
    <ng-container *ngIf="centro.deportes?.length; else noReservas">
    <div class="horizontal-scroll-container">
      <!-- Tarjeta para mostrar información sobre un deporte -->
      <mat-card *ngFor="let deporte of centro.deportes" class="example-card" [ngClass]="{ 'disable-card':!centro.esta_habilitado}">
        <mat-card-header>
          <mat-icon mat-card-avatar>sports_soccer</mat-icon>
          <mat-card-title>{{ deporte.nombre_deporte }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="card-image" src="{{ deporte.imagen_deporte }}" alt="Photo of a Shiba Inu">
        <mat-card-actions>
          <button mat-button color="primary" style="background-color: #4f72be; color: rgb(255, 255, 255);"
            class="mat-elevation-z4" (click)="onReservationClick(centro,deporte)"  [disabled]="!centro.esta_habilitado">
            <mat-icon>add</mat-icon>Reservar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    </ng-container>
    <ng-template #noReservas>
      <div class="no-reservas-text"> No existen "Instalaciones Deportivas" en {{ centro.nombre }} </div>
    </ng-template> 
  </div>
  </ng-container>
  <ng-template #noReservas>
    <div class="no-reservas-text"> No existen Centros Deportivos </div>
  </ng-template>  
  </div>