.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../../assets/back2.png');
    flex-direction: column;
    margin-left: 15%;
    background-size: contain;
    overflow-y: auto;
}
  
mat-form-field {
  margin: 20px;
}

.input-boton {
  width: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  color: white;
}

.horizontal-scroll-container {
  width: 90%;
  height: 400px;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 20px;
}


.map-container {
  margin-inline: 20px;
  background-color: #ffffff;
  border-color: #ffffff;
}

.example-card {
  max-width: 250px;
  margin-inline: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.rounded-input {
  border-radius: 20px;
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}


.example-spacer {
  flex: 1 1 auto;
}

.my-dialog-container {
  padding: 10%;
}


