<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<div class="main-container">
    <div class="spinner-container">
        <mat-progress-spinner mode="determinate" diameter="300" strokeWidth="12" value="{{ progress }}" color="">
        </mat-progress-spinner>
        <div class="spinner-text"> {{ progress }}% </div>
    </div>

    <div class="scrollsView">
      <mat-form-field appearance="outline" class="rounded-input">
          <mat-label>Buscar Canchas</mat-label>
            <input matInput  type="text" placeholder="Ingresa tu nombre" [(ngModel)]="searchQuery" (keyup)="filterButtons()">
      </mat-form-field>
      
    <div class="horizontal-scroll-container">
        <mat-card *ngFor="let button of filteredButtons1" class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Centro Deportivo 1</mat-card-title>
              <mat-card-subtitle>{{button.description}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{button.image}}" alt="Photo of a Shiba Inu">
            <mat-card-actions>
              <button mat-button color="primary" style="background-color: #408dff; color: rgb(255, 255, 255);" class="mat-elevation-z4" (click)="onReservationClick(button)">
                <mat-icon>add</mat-icon>Reservar
              </button>
            </mat-card-actions>
          </mat-card>
      </div>
        
        <div class="horizontal-scroll-container">
            <mat-card *ngFor="let button of filteredButtons2" class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Centro Deportivo 1</mat-card-title>
                  <mat-card-subtitle>{{button.description}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{button.image}}" alt="Photo of a Shiba Inu">
                <mat-card-actions>
                  <button mat-button color="primary" style="background-color: #408dff; color: rgb(255, 255, 255);" class="mat-elevation-z4" (click)="onReservationClick(button)">
                    <mat-icon>add</mat-icon>Reservar
                  </button>
                </mat-card-actions>
              </mat-card>
        </div>
        
        <div class="horizontal-scroll-container">
            <mat-card *ngFor="let button of filteredButtons3" class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Centro Deportivo 1</mat-card-title>
                  <mat-card-subtitle>{{button.description}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{button.image}}" alt="Photo of a Shiba Inu">
                <mat-card-actions>
                  <button mat-button color="primary" style="background-color: #408dff; color: rgb(255, 255, 255);" class="mat-elevation-z4" (click)="onReservationClick(button)">
                    <mat-icon>add</mat-icon>Reservar
                  </button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>