<app-sidebar></app-sidebar>
<app-navbar></app-navbar>

<div class="main-container">
  <div class="contents">
    <div class="aforo-container">
      <label class="title"> Aforo del Gimansio</label>
      <app-spinner-aforo></app-spinner-aforo>
    </div>
  <div class="stats-container">
    <label class="title"> Buscar Deportes </label>
      <div class="input-boton">
      <mat-form-field appearance="outline" class="rounded-input">
        <mat-label>Escribe un Deporte</mat-label>
          <input matInput type="text" placeholder="Ingresa tu nombre" [(ngModel)]="searchQuery" (keyup)="filterButtons()">
          <button matSuffix mat-button><mat-icon >search</mat-icon></button>
      </mat-form-field>
      <button mat-icon-button (click)="openDialog()">
        <mat-icon>help_outline</mat-icon>
      </button>
      </div>
  </div>  
  </div> 
  <h2 class="titleCen"> Centros Deportivos </h2>
  <ng-container *ngIf="deportesFiltrados?.length; else noReservas">
  <div class="centros-container" *ngFor="let centro of deportesFiltrados">
    <h2 class="titleDown">{{ centro.nombre }}</h2>
    <div class="horizontal-scroll-container"  [ngClass]="{ 'disable-card':!centro.esta_habilitado }">
      <mat-card *ngFor="let deporte of centro.deportes" class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ deporte.nombre_deporte }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="card-image" src="{{ deporte.imagen_deporte }}" alt="Photo of a Shiba Inu">
        <mat-card-actions>
          <button mat-button color="primary" style="background-color: #408dff; color: rgb(255, 255, 255);"
            class="mat-elevation-z4" (click)="onReservationClick(centro,deporte)"  [disabled]="!centro.esta_habilitado">
            <mat-icon>add</mat-icon>Reservar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  </ng-container>
  <ng-template #noReservas>
    <div class="no-reservas-text"> No existen Centros Deportivos </div>
  </ng-template>  
  </div>