<app-side-bar-admin></app-side-bar-admin>
<div class="main-container">
    <div class="chart-container">
        <div class="line-chart-container">
          <div class="chart-header">
            <h2>Gráfico 1</h2>
          </div>
          <div class="chart-body">
            <canvas id="Line1">{{Linechart1}}</canvas>
          </div>
        </div>
        <div class="line-chart2-container">
          <div class="chart-header">
            <h2>Gráfico 2</h2>
          </div>
          <div class="chart-body">
            <canvas id="Line2">{{Linechart2}}</canvas>
          </div>
        </div>
    </div>
    <div class="">
        <div class="pie-chart-container">
          <div class="chart-header">
            <h2>Gráfico 3</h2>
            <div class="chart-body">
                <canvas id="barChart">{{BarChart}}</canvas>
            </div>
          </div>
          <button mat-raised-button color="primary" 
        style="background-color: #408dff; color: rgb(255, 255, 255); margin-bottom: 20px; width: 30%; margin-left: 20px; margin-top: 10px;"
        (click)="verComentarios()"><mat-icon style="color: white">remove_red_eye</mat-icon>Ver Comentarios</button> 
        </div>
    </div>
</div>