<app-side-bar-admin></app-side-bar-admin>
<div class="main-container">
    <div class="chart-container">
        <div class="line-chart-container">
          <div class="chart-header">
            <h2>Gráfico 1</h2>
          </div>
          <div class="chart-body">
            <canvas id="Line1">{{Linechart1}}</canvas>
          </div>
        </div>
        <div class="line-chart-container">
          <div class="chart-header">
            <h2>Gráfico 2</h2>
          </div>
          <div class="chart-body">
            <canvas id="Line2">{{Linechart2}}</canvas>
          </div>
        </div>
    </div>
    <div class="">
        <div class="pie-chart-container">
          <div class="chart-header">
            <h2>Gráfico 3</h2>
            <div class="chart-body">
                <canvas id="barChart">{{BarChart}}</canvas>
            </div>
          </div>
        </div>
    </div>
</div>