.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../../../assets/back4.png');
    margin-left: 15%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    flex: 1;
}

.titleCen {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  background-color: #0434a4;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.contents {
  display: flex;
  width: 90%;
  background-color: rgb(195, 188, 188, 0.8);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
  padding: 10px;
}

.chart-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    flex: 1;
    padding: 10px;
  }

  .chart-container2 {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .chart-container-header {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .line-chart-container{
    width: 300px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    margin-right: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .pie-chart-container {
    width: 350px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .chart-header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    background-color: #4f72be;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  
  .chart-body {
    padding: 10px;
  }

  .comentarios-container {
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    margin-left: 10px;
    overflow-y: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
  }

  .card-container {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
  }

  .comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .comment-icon {
    font-size: 20px;
    margin-right: 5px;
  }
  
  .comment-date {
    font-size: 14px;
    color: #888888;
  }
  
  .comment-text {
    font-size: 16px;
  }
  
  .no-reservas-text {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    opacity: 0.5;
    background-color: gray;
    border-radius: 10px;
    width: 90%;
  }