<app-sidebar></app-sidebar>
<div class="main-container">
    <label class="TitleCen">Notificaciones </label>
    <ng-container *ngIf="notificacionesArray?.length; else noReservas">
    <div class="container">
        <div class="cards">
            <mat-card *ngFor="let reservation of notificacionesArray">
              <mat-card-header>
                <mat-icon mat-card-avatar >notifications</mat-icon>
                <mat-card-title>{{ reservation.titulo }}</mat-card-title>
                <mat-card-subtitle>{{ reservation.fecha_inicio }} // {{ reservation.fecha_fin }}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image class="card-image" src="{{reservation.imagen}}" alt="{{reservation.imagen}}">
              <mat-card-actions>
                  <button mat-button 
                  color="primary" 
                  style="background-color: #408dff; color: rgb(255, 255, 255);" 
                  (click)="onReservationClick(reservation)"> Ver detalles</button>
              </mat-card-actions>
            </mat-card>
        </div>
      </div>
    </ng-container>
    <ng-template #noReservas>
      <div class="no-reservas-text"> No existen notificaciones </div>
    </ng-template>
    </div>