.main-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../../../assets/back.png');
    background-size: cover;
    overflow-y: auto;   
  }
  

  .container {
    margin: 20px;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .cards {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  mat-card {
    margin-top: 10px;
    width: 70%;
  }

  