.main-container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    background-image: url('../../../../assets/back3.png');
    background-size: contain;  
  }
  
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  mat-card {
    width: 80%;
  }

  