<div class="main-container">
    <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ not!.cancha }}</mat-card-title>
          <mat-card-subtitle>{{ not!.fecha }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis pretium massa. Aliquam erat volutpat. Nulla facilisi.
        </mat-card-content>
      </mat-card>     
</div>  