.mat-progress-spinner {
    display: block;
    margin: 0 auto;
  }
  
  .mat-progress-spinner circle {
    stroke-width: 15px;
  }
  
  .spinner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
  }
  
  
  .spinner-container {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }