<div class="spinner-container">
    <mat-progress-spinner mode="determinate" diameter="300" strokeWidth="20" value="{{ aforo }}" color="accent"></mat-progress-spinner>
    <mat-progress-spinner class="overlay-spinner" mode="determinate" diameter="300" strokeWidth="20" value="100" color="warn"></mat-progress-spinner>
    <!-- Despliegue del valor del aforo en el spinner -->
    <div class="spinner-text"> {{ aforo }}% </div>
    <div class="spinner-text2"> {{gimnasio.aforo_actual}} / {{ gimnasio.aforo_maximo }} </div>
  </div>