<app-side-bar-admin></app-side-bar-admin>
<div class="main-container">
  <h2 class="titleCen"> Reservas de Estudiantes </h2>
  <div class="filter-container">
    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Estado</mat-label>
      <mat-select [(ngModel)]="selectedStatus">
        <mat-option value="">Todos</mat-option>
        <mat-option value="1">Pendiente</mat-option>
        <mat-option value="2">En Progreso</mat-option>
        <mat-option value="3">Finalizada</mat-option>
        <mat-option value="4">Cancelada</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Nombre de instalación</mat-label>
      <input matInput [(ngModel)]="installationName" placeholder="Ingrese un nombre">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Centro</mat-label>
      <input matInput [(ngModel)]="centerName" placeholder="Ingrese un centro">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="aplicarFiltros()"
     style="margin-right: 10px; margin-bottom: 20px;">Aplicar Filtros</button>
  </div>  
  <ng-container *ngIf="reservas?.length; else noReservas">
  <div class="container">
    <div class="cards">
      <mat-card *ngFor="let reservation of reservasFiltradas" [ngClass]="{'aceptado': reservation.id_estatus === 1, 'en-espera': reservation.id_estatus === 2, 'cancelada': reservation.id_estatus === 3}">
        <mat-card-header>
            <mat-icon mat-card-avatar >date_range</mat-icon>
            <mat-card-title>{{ reservation.matricula }}</mat-card-title>
            <mat-card-subtitle>{{ reservation.fecha }} - {{ reservation.hora }}</mat-card-subtitle>
          </mat-card-header>
          <div *ngFor="let instalacion of reservation.instalacion">
            <img mat-card-image class="card-image" src="{{instalacion.imagen}}" alt="{{instalacion.imagen}}">
          <mat-card-content>
            {{instalacion.nombre_instalacion}} - {{instalacion.nombre_centro_deportivo}}
          </mat-card-content>
          </div>
        </mat-card>
    </div>
  </div>
  </ng-container>
  <ng-template #noReservas>
    <div class="no-reservas-text"> No existen Reservas de Estudiantes </div>
  </ng-template>  
</div>