.main-container {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url('../../../../assets/back.png');
  background-size: contain;
  margin-left: 13%;
  flex-direction: column;
}

.image-selector{
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-inline: 20px;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  flex: 1;
}

.containers{
  display: flex;
  width: 90%;
  background-color: rgb(195, 188, 188, 0.8);
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.form {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-inline: 20px;
  width: 100%;  
  padding-bottom: 10px;
  text-align: center;
  flex: 1;
}

.name-deporte {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
} 



.form-input,
textarea {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.form-submit-btn {
  width: 20%;
  padding: 10px;
  background-color: #4f72be;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.form-submit-btn:hover {
  background-color: #0434a4;
}



.form-input-select{
border-radius: 20px;
}

.titleAd{
font-size: 30px;
font-weight: 500;
color: rgb(255, 255, 255);
background-color: #0434a4;
width: 100%;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
}

.titleDips{
background-color: #4f72be;
width: 100%;
padding-bottom: 10px;
padding-top: 10px;
margin-bottom: 20px;
font-weight: 500;
border-top-left-radius: 10px;
border-top-right-radius:10px;
font-size: 20px;
color: rgb(255, 255, 255);
}

.form-submit-btn2 {
width: 30%;
padding: 10px;
background-color: #4f72be;
color: #fff;
font-size: 16px;
border-radius: 5px;
border: none;
cursor: pointer;
}

.form-submit-btn2:hover {
background-color: #0434a4;
}

.modal-container {
width: 600px;
height: 700px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-evenly;
text-align: center;
}

.modal-form-container {
align-items: center;
display: flex;
flex-direction: column;
width: 80%;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
border-radius: 10px;
margin-bottom: 20px;
padding-bottom: 20px;
margin-top: 10px;
}

.modal-image-container {
background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-inline: 20px;
  justify-content: space-between;
  width: 80%;
  text-align: center;
  flex: 1;
  margin-bottom: 10px;
}

.button-cont{
display: flex;
align-items: center;
flex-direction: row;
justify-content:right;
}

@media (max-width: 768px) {
.containers {
  flex-wrap: wrap;
  flex: 1;
}
.image-selector {
  margin-top: 10px;
}

.main-container {
  height: 120vh;
}
}
