<app-side-bar-admin></app-side-bar-admin>
<div class="main-container">
  <h2 class="title"> Estadisticas del Gimnasio </h2>
  <div class="contents">
    <div class="chart-container">
      <div class="form-field">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label><mat-icon>event</mat-icon> Fecha:</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate [(ngModel)]="startDate" placeholder="Start date">
              <input matEndDate [(ngModel)]="endDate" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>     
        <button mat-raised-button color="primary" 
        style="background-color: #4f72be; color: rgb(255, 255, 255); margin-bottom: 20px; width: 10%; height: 50px; font-size: 20px;"
        (click)="FiltroGraficas()">Filtrar</button> 
        <label class="titleGraf"> Registros de Alumnos por Fecha  </label>
        <div *ngIf="!Linechart1 || fechas?.length === 0" class="no-reservas-text">
          <p>Los gráficos no se han generado.</p>
        </div>
        <div class="line-chart-container" *ngIf="Linechart1">
          <div class="chart-body">
            <canvas id="Line1">{{Linechart1}}</canvas>
          </div>
        </div>
        <label class="titleGraf"> Personas con mayor asistencia al Gimansio </label>
        <div *ngIf=" !pie || alumnosReg?.length === 0" class="no-reservas-text">
          <p>Los gráficos no se han generado.</p>
        </div>
        <div class="line-bar-container" *ngIf="pie">
          <div class="chart-body">
            <canvas id="Pie1">{{pie}}</canvas>
          </div>
        </div>
    </div>
  </div>
</div>