.main-container {
    display: flex;
    height: 100vh;
    background-image: url('../../../../assets/back2.png');
    margin-left: 15%;
    background-size: contain;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
  
.row {
  grid-gap: 1em; /* Espacio entre los cards */
  height: 100%; /* Altura máxima del contenedor */
  width: 90%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columnas de ancho flexible */
  margin-top: 20px;
  align-items: center;
  justify-items: center;
  background-color: rgb(255, 255, 255);
} 


.map-container {
    margin-inline: 20px;
    background-color: #ffffff;
    border-color: #ffffff;
  }
  
  .example-card {
    max-width: 400px;
    margin-inline: 10px;
    margin-bottom: 20px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    width: 90%;
    padding: 17px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
  }
  