<app-sidebar></app-sidebar>
<div class="main-container">
  <label class="title"> {{idSelected.nombre_deporte}} </label>
  <ng-container *ngIf="arrayDeportes?.length; else noReservas">
    <div class="container">
      <div class="cards">
        <mat-card *ngFor="let button of arrayDeportes"  [ngClass]="{ 'disable-card':!button.esta_habilitada}">
          <mat-card-header>
            <mat-icon mat-card-avatar>fitness_center</mat-icon>
            <mat-card-title>{{button.nombre}}</mat-card-title>
          </mat-card-header>
            <img mat-card-image class="card-image" src="{{button.imagen}}" alt="imagen instalacion">
          <mat-card-actions>
            <button mat-button color="primary"
            style="background-color: #4f72be; color: rgb(255, 255, 255);"
            (click)="onReservationClick(button)"
            [disabled]="!button.esta_habilitada">
              <mat-icon>edit</mat-icon> Reservar
            </button>
          </mat-card-actions>
        </mat-card> 
    </div>   
    </div> 
    </ng-container>
    <ng-template #noReservas>
      <div class="no-reservas-text"> No existen  "Instalaciones Deportivas" </div>
    </ng-template> 
</div>