.container-main {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 50px;
}

.example-form-field {
  width: 250px;
  margin-right: 10px;
  margin-left: 10px;
}

.name-deporte {
  display: flex;
  margin-top: 10px;
}

.name-deporte .child1,
.name-deporte .child2 {
  margin-right: 10px;
  margin-left: 10px;
  flex-direction: column;
  text-align: center;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.form-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
}
