.main-container {
    display: flex;
    align-items: center;
    background-image: url('../../../../assets/back2.png');
    margin-left: 15%;
    background-size: contain;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 2%;
}
  
.grid-container {
    grid-gap: 1em; /* Espacio entre los cards */
    height: 100%; /* Altura máxima del contenedor */
    width: 90%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de ancho flexible */
    margin-top: 20px;
    align-items: center;
    justify-items: center;
    background-color: rgb(255, 255, 255);
  }

.example-card {
  max-width: 350px;
  height: 100%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.titleAd{
  font-size: 30px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  background-color: #ccc;
  width: 90%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
}
.titleCen {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  background-color: white;
  width: 90%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.vertical-divider {
  height: 100%;
  margin: 0 10px;
  border-left: 3px solid #c3c3c3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  background-color: #f1f1f1;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-icon {
  color: rgb(0, 0, 0);
}

.contents {
  display: flex;
  width: 90%;
  background-color: #4d90fe;
  padding-top: 20px;
  margin-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.aforo-container {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-inline: 20px;
  width: 100%;
  padding-bottom: 10px;
}

.stats-container {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-inline: 20px;
  width: 100%;
}

.card-image {
  width: 300px; /* Establece el ancho deseado */
  height: 150px; /* Establece la altura deseada */
}

.disable-card {
  background-color: #ccc; /* Cambia el color de fondo a gris */
  opacity: 0.5; /* Puedes ajustar la opacidad según tus preferencias */
  /* Agrega otros estilos personalizados para las tarjetas deshabilitadas */
}


.pie-chart-container {
  width: 80%;
  height: 420px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
}

.chart-header {
  background-color: #f1f1f1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  flex-direction: row;
  display: flex;
  width: 100%;
  text-align: center;
}

.chart-body {
  padding: 10px;
}

@media (max-width: 768px) {
  .chart-container {
    flex-wrap: wrap;
  }

  .line-chart-container,
  .pie-chart-container {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

.custom-button {
  margin-top: 10px;
  background-color: #F5F5F5; /* Color de fondo */
  color: #333333; /* Color del texto */
  border: 1px solid #CCCCCC; /* Borde */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  border-radius: 5px; /* Bordes redondeados */
  width: 70%;
}

.custom-button:hover {
  background-color: #E0E0E0; /* Cambio de color de fondo al pasar el mouse */
  color: #000000; /* Cambio de color de texto al pasar el mouse */
}

.custom-button .mat-icon {
  margin-right: 5px; /* Espaciado a la derecha del icono */
}