<app-side-bar-admin></app-side-bar-admin>
<div class="main-container">
  <h2 class="titleCen"> Vista de administrador </h2>
  <div class="contents">
    <div class="aforo-container">
      <!-- Contenedor del aforo del gimnasio -->
      <label class="title"> Aforo del Gimansio</label>
      <app-spinner-aforo></app-spinner-aforo>
      <button mat-icon-button routerLink="/statsAdmin" routerLinkActive="active" class="custom-button">
        <mat-icon style="color: white;">bar_chart</mat-icon> Aforo Gym
      </button>
    </div>
    <!-- Contenedor de las estadísticas de centros deportivos -->
    <div class="stats-container">
      <label class="title"> Estadística Centros </label>
        <div class="pie-chart-container">
            <div class="chart-body">
                <canvas id="barChart">{{BarChart}}</canvas>
            </div>
        </div>
  </div>
  </div>
  <!-- Contenedor de centros deportivos -->
  <h2 class="titleCen"> Centros Deportivos </h2>
  <ng-container *ngIf="General?.length; else noReservas">
    <div class="grid-container">
      <mat-card *ngFor="let button of General" class="example-card" [ngClass]="{'gray-card': button.esta_habilitado === false}">
        <mat-card-header>
          <mat-icon mat-card-avatar>business_center</mat-icon>
          <mat-card-title>{{ button.nombre }}</mat-card-title>
          <div class="switch-container">
            <mat-slide-toggle [checked]="button.esta_habilitado"  (change)="toggleChanged(button)"></mat-slide-toggle>
          </div>
        </mat-card-header>
        <img mat-card-image class="card-image" src="{{ button.imagen }}" alt="Imagen de Centro">
        <mat-card-content style="margin-top: 10px; align-items: center; width: 90%;">
          <a mat-button color="primary" (click)="redirectToGoogleMaps(button)">
            <mat-icon>map</mat-icon>
            {{ button.ubicacion }}
          </a>
        </mat-card-content>
        
        <mat-card-actions style="text-align: center; align-items: center; display: flex; justify-content: center;">
          <mat-button-toggle-group name="buttonGroup">
            <mat-button-toggle (click)="onReservationClick(button)" [ngStyle]="{ 'background-color': '#4f72be', 'color': 'white' }" class="button-toggle-custom">
              <mat-icon style="color: white">remove_red_eye</mat-icon>
              Ver
            </mat-button-toggle>
            
            <mat-button-toggle (click)="onEditCentro(button)" [ngStyle]="{ 'background-color': '#4f72be', 'color': 'white' }" class="button-toggle-custom">
              <mat-icon style="color: white">edit</mat-icon>
              Editar
            </mat-button-toggle>
            
            <mat-button-toggle (click)="onEliminar(button)" [ngStyle]="{ 'background-color': '#4f72be', 'color': 'white' }" class="button-toggle-custom">
              <mat-icon style="color: white">delete</mat-icon>
              Eliminar
            </mat-button-toggle>
          </mat-button-toggle-group>                   
        </mat-card-actions>
      </mat-card>      
    </div>  
  </ng-container>
  <ng-template #noReservas>
    <div class="no-reservas-text"> No existen Centros Deportivos </div>
  </ng-template>  
</div>  
