<app-side-bar-admin></app-side-bar-admin>
<div class="main-container">
  <h2 class="titleCen"> Vista de Adminstrador </h2>
  <div class="contents">
    <div class="aforo-container">
      <label class="title"> Aforo del Gimansio</label>
      <app-spinner-aforo></app-spinner-aforo>
      <button mat-icon-button routerLink="/statsAdmin" routerLinkActive="active" class="custom-button">
        <mat-icon>bar_chart</mat-icon> Aforo Gym
      </button>
    </div>
    <div class="stats-container">
      <label class="title"> Estadística Centros </label>
        <div class="pie-chart-container">
            <div class="chart-body">
                <canvas id="barChart">{{BarChart}}</canvas>
            </div>
        </div>
  </div>
  </div>
  <h2 class="titleCen"> Centros Deportivos </h2>
  <ng-container *ngIf="General?.length; else noReservas">
    <div class="grid-container">
        <mat-card *ngFor="let button of General" class="example-card" [ngClass]="{ 'disable-card':!button.esta_habilitado }">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{button.nombre}}</mat-card-title>
              <mat-card-subtitle>{{button.ubicacion}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="card-image" src="{{button.imagen}}" alt="Imagen de Centro">
            <mat-card-actions>
              <button mat-button color="primary" 
              style="background-color: #408dff; color: rgb(255, 255, 255);" 
              class="mat-elevation-z4"  (click)="onReservationClick(button)"
              [disabled]="!button.esta_habilitado">
                <mat-icon style="color: white;">add</mat-icon>Editar
              </button>
            </mat-card-actions>
          </mat-card>
    </div>  
  </ng-container>
  <ng-template #noReservas>
    <div class="no-reservas-text"> No existen Centros Deportivos </div>
  </ng-template>  
</div>  
