.main-container {
  display: flex;
  align-items: center;
  background-image: url('../../../../assets/back2.png');
  margin-left: 13%;
  padding-left: 20px;
  background-size: contain;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
}

.grid-container {
  grid-gap: 1em;
  height: 100%;
  width: 90%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  align-items: center;
  justify-items: center;
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.example-card {
  background-color: #f2f2f2;
  width: 350px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.switch-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.titleCen {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(20,101,187,1);
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  background-color: #b9ffff;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

mat-icon {
  color: rgb(0, 0, 0);
}

.contents {
  display: flex;
  width: 90%;
  background-color: rgb(195, 188, 188, 0.8);
  padding-top: 20px;
  margin-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  flex: 1;
}

.aforo-container {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-inline: 20px;
  width: 100%;
  padding-bottom: 10px;
}

.stats-container {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-inline: 20px;
  width: 100%;
  padding-bottom: 10px;
}

.card-image {
  width: 100%;
  height: 180px;
}

.disable-card {
  background-color: #ccc;
  opacity: 0.5;
}

.chart-header {
  background-color: #f1f1f1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  flex-direction: row;
  display: flex;
  width: 100%;
  text-align: center;
}

.chart-body {
  padding: 10px;
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .contents {
    flex-wrap: wrap;
  }

  .stats-container{
    margin-top: 10px;
  }
}

.custom-button {
  margin-top: 10px;
  background-color: #408dff;
  color: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  width: 40%;
}

.custom-button:hover {
  background-color: #408dff;
  color: #ffffff;
}

.custom-button .mat-icon {
  margin-right: 5px;
}

.no-reservas-text {
  font-size: 80px;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  opacity: 0.5;
  background-color: gray;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
  width: 90%;
}

.gray-card {
  background-color: rgba(186, 181, 181, 0.8);
}

.button-toggle-custom {
  width: 150px;
  height: 40px;
  text-align: center;
}

.pie-chart-container{ 
  align-items: center;
  flex: 1;
  display: flex;
}
