mat-sidenav-container, mat-sidenav-content {
  height: 100%;
  color: white;
}

mat-sidenav {
  width: 200px;
  color: white;
}

@media (max-width: 600px) {
  mat-sidenav {
    width: 80%;
    color: white;
  }
}
.sidenav-container {
  height: 100%;
  position: fixed;
  color: white;
  width: 15%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.sidenav {
  width: 300px;
  color: white;
  background-color: #cecece;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: relative;
}