
<div class="main-container">
    <div class="rate-container">
        <h2 class="title">{{selectedReserva!.description}}</h2>
        <p class="subtitle">{{selectedReserva!.description}}</p>
        <img class="logo" src="../../assets/centro1.png" alt="Logo">
        <app-app-rating [rating]="3"></app-app-rating>
    </div>
    <div class="content-container">
        <div class="reserva-container">
            <div class="form-container">
                <h2>Agregar Persona</h2>
                <form (submit)="agregarPersona()">
                  <mat-form-field appearance="outline" class="rounded-input">
                    <input matInput placeholder="Nombre" [(ngModel)]="nuevoNombre" name="nombre">
                  </mat-form-field>
                  <button mat-button color="primary" style="background-color: #408dff; color: rgb(255, 255, 255);" type="submit"> Anadir Personas </button>
                </form>

            <p>Personas añadidas:</p>
            <div class="table-container">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th >
                    <td  mat-cell *matCellDef="let persona">{{persona.nombre}}</td >
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef>Borrar Nombre</th>
                    <td mat-cell *matCellDef="let persona">
                    <button mat-icon-button color="warn" (click)="eliminarPersona(persona)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    </td >
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnas"></tr >
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                </table>
            </div>
            <button mat-button color="primary" style="background-color: #408dff; color: rgb(255, 255, 255);" routerLink="/home"> Reserva </button>
        </div>
        </div>      
      </div>
      
</div>  