<app-side-bar-admin></app-side-bar-admin>
<div class="main-container">
  <div class="container">
    <div class="header">
      <h1>Alertas</h1>
      <button mat-button color="primary" style="background-color: #408dff; color: rgb(255, 255, 255);" (click)="crearAviso()"> Nuevo Aviso </button>
    </div>
    <div class="cards">
        <mat-card *ngFor="let reservation of notificacionesArray" class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ reservation.titulo }}</mat-card-title>
            <mat-card-subtitle>{{ reservation.fecha_inicio }} // {{ reservation.fecha_fin }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{reservation.imagen}}" alt="{{reservation.imagen}}">
          <mat-card-content>
            {{ reservation.contenido }}
          </mat-card-content>
          <mat-card-actions align="end">
              <button mat-button color="primary" style="background-color: #408dff; color: rgb(255, 255, 255);" (click)="editarAviso(reservation)"> Editar </button>
          </mat-card-actions>
        </mat-card>
    </div>
  </div>
</div>
