<app-side-bar-admin></app-side-bar-admin>
<div class="main-container">
  <h2 class="titleCen"> Alertas </h2>
  <button 
  mat-button color="primary" 
  style="background-color: #4f72be; color: rgb(255, 255, 255); 
  width: 20%; height: 50px; border-radius: 20px; font-size: 20px;
  margin-bottom: 10px;" 
  (click)="crearAviso()"><mat-icon style="margin-right: 5px;">add</mat-icon> Nuevo Aviso </button>
  
    <!-- Contenedor de las alertas -->
  <div class="container"> 

    <ng-container *ngIf="notificacionesArray?.length; else noReservas">
        <div class="cards">
        <mat-card *ngFor="let reservation of notificacionesArray">
          <mat-card-header>
            <mat-icon mat-card-avatar >notifications</mat-icon>
            <mat-card-title>{{ reservation.titulo }}</mat-card-title>
            <mat-card-subtitle>{{ reservation.fecha_inicio }} // {{ reservation.fecha_fin }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{reservation.imagen}}" alt="{{reservation.imagen}}">
          <!-- Contenido de la tarjeta -->
          <mat-card-content>
            {{ reservation.contenido }}
          </mat-card-content>
          <mat-card-actions align="end">
              <button mat-button color="primary" style="background-color: #4f72be; color: rgb(255, 255, 255); margin-inline: 5px;" 
              (click)="editarAviso(reservation)"> Editar </button>
              <button mat-button color="primary" style="background-color: #4f72be; color: rgb(255, 255, 255); margin-inline: 5px;" 
              (click)="confirmarEliminacion(reservation)"> Eliminar </button>
          </mat-card-actions>
        </mat-card>
    </div>
    </ng-container>
    <ng-template #noReservas>
      <div class="no-reservas-text"> No existen Alertas </div>
    </ng-template>  
  
  </div> 
</div>
