.main-container {
  align-items: center;
  background-image: url('../../../../assets/back6.png');
  flex-direction: column;
  background-size: contain;
  margin-left: 13%;
  padding-left: 20px;
  padding-top: 1%;
  padding-bottom: 2%;
  flex: 1;
  display: flex;
}
  
  .titleCen {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    background-color: white;
    width: 90%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
  }
  
  
  .container {
    height: 100%;
    width: 90%;
    padding: 10px 0px 10px 0px;
    border-radius: 20px;
    background-color: rgb(195, 188, 188, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .containerDown {
    width: 90%;
    padding: 10px 0px 10px 0px;
    border-radius: 20px;
    background-color: white;
    padding: 30px 0px 30px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  }
    
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    width: 100%;
    justify-items: center;
  }
  
  
  mat-card {
    background-color: #f2f2f2;
  width: 450px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  }

  .no-reservas-text {
    font-size: 80px;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    opacity: 0.5;
    background-color: gray;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
    width: 90% ;
  }
  
  