.main-container {
  justify-content: center;
  align-items: center;
  background-image: url('../../../../assets/back6.png');
  background-size: contain;
  overflow-y: auto;
  height: 82vh;
  margin-left: 15%;
  padding-top: 2%;
  padding-bottom: 2%;
}


.container {
  margin: 20px;
  opacity: 0.75;
} 

.header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.cards {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card {
  margin-top: 10px;
  width: 70%;
}

