<app-sidebar></app-sidebar>
<div class="main-container">
  <h2 class="TitleCen">Tus Reservaciones </h2>
  <ng-container *ngIf="reservasArray?.length; else noReservas">
  <div class="container">
    <div class="cards">
      <mat-card *ngFor="let reservation of reservasArray" [ngClass]="{'aceptado': reservation.id_estatus === 1, 'en-espera': reservation.id_estatus === 2, 'cancelada': reservation.id_estatus === 3}">
        <mat-card-header>
            <mat-icon mat-card-avatar >date_range</mat-icon>
            <mat-card-title>{{ reservation.matricula }}</mat-card-title>
            <mat-card-subtitle>{{ reservation.fecha }} - {{reservation.hora}}</mat-card-subtitle>
          </mat-card-header>
          <div *ngFor="let instalacion of reservation.instalacion">
            <img mat-card-image class="card-image" src="{{instalacion.imagen}}" alt="{{instalacion.imagen}}">
          <mat-card-content>
            {{instalacion.nombre}}
          </mat-card-content>
          </div>
          <mat-card-actions>
              <button mat-button color="primary" 
              style="background-color: #408dff; color: rgb(255, 255, 255);" 
              (click)="deleteBooking(reservation)"> Eliminar </button>
          </mat-card-actions>
        </mat-card>
    </div>
  </div>
</ng-container>
<ng-template #noReservas>
  <div class="no-reservas-text">No hay reservas</div>
</ng-template>
</div>